.header {
    background-image: linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .3)), url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    grid-column: full-start / full-end;
   
    div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;

        @include desktop-lg {
            width: 100%;
        }
    }

    h1 {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1rem;
        line-height: 1;

        @include tab {
            letter-spacing: .1rem;
        }

        @include phone-sm {
            font-weight: 700;
        }
       
    }

    p {
        text-align: center;
        width: 50%;
        font-size: 2.5rem;
        font-weight: 700;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        @include tab {
            display: none;
        }
    }
}