.selection {
    background-image: linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .3)), url(../img/gym-5.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 8rem;

    grid-column: full-start / full-end;
    grid-row: 7 / 8;

    @include tab {
        padding: 4rem;
    }

    &__container {
        display: flex;
        justify-content: space-around;

        @include tab {
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
        }
    }

    &_name {
        font-size: 2rem;
        font-weight: 700;
    }

    &__heading {
        font-size: 1.6rem;
    }

    &__no {
        font-size: 5rem;
        font-weight: 900;
        letter-spacing: 2px;

        @include tab {
            font-size: 3.5rem;
            font-weight: 700;
            margin-top: -1rem;
            margin-bottom: -1.2rem;
        }
    }
}